# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/web/node_modules
./web/.pnp
./web/.pnp.js
/server/node_modules
/server/.env

# testing
./web/coverage

# production
./build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


#Custom Ignores
/server/.env
/opencvjs/node_modules
node_modules

/server/cert.pem
/server/privkey.pem
/web/cert.pem
/web/privkey.pem
