//Custom font
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
.app {
	margin-top: 2em;
	//padding-top: 4em;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Open Sans", sans-serif;
}
