//.login
.panel {
    
    // width: 27em;
	// // height: 40em;
	// //min-height: 44em;
	// display: flex;
	// justify-content: center;
	// //align-items: center;
	// position: relative;
    // z-index: 99;
    
    // .panel {
	width: 27em ;
	transition: all 450ms ease-in-out;
	//height: 45em;
	min-height: 44em;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

}